.d-block {
  object-fit: none;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 100%;
  max-height: 400px;
  margin-bottom: 1rem;
}

.img-responsive {
  object-fit: none;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 100%;
  max-height: 400px;
  margin-bottom: 1rem;
}

body {
  padding-top: 65px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

a {
  color: black;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
  color: black;
}

button:focus {
  outline: 0;
}

.d-block {
  width: 100%;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-bottom: 30px;

}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  color: black;
  background-color: #ffffff;

}

.btn-default:active .filter-button:active {
  background-color: #ffffff;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}
