.thumb-post img {
  object-fit: none;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
}

body {
  padding-top: 65px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

a {
  color: black;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
  color: black;
}

.btn {
  border: none;
}

.gallery-title {
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 2px solid #5e5e5e;
}

.filter-button {
  /*
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
*/
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;


}

.filter-button:hover {
  /*
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;
*/
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: gainsboro;
}

.btn-default:active .filter-button:active {
  background-color: gainsboro;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}
